.container
  .page-header
    %h1
      Showing Property
      %span{id: 'property', "property-id" => @property.id}= @property.address
      %span{style: 'display: none', id: "city", "city-id": @city.id}


  .well.col-md-5
    .text-center
      ="Street Address: #{@property.address}"
      %br
      ="Rental Company: #{@property.landlord}"
      %br
      ="Overall Rating: "

  .specific-map

  =form_for [@city, @property, @comment] do |f|

    .form-group
      =f.label :dates, "Dates Occupied", class: "control-label"
      =f.date_field :dates, class: "form-control"

    .form-group
      =f.label :comment, class: "control-label"
      =f.text_area :comment, class: "form-control"

    .form-group
      =f.label :rating, class: "control-label"


      //what do I provide as the input
      //how do i get stars
      //javascript for stars
      //can I get the input field in the comment box



  =link_to "Index", root_path
