.container
  .page-header
    %h1
      Property Show Page

  .well.col-md-5
    .text-center
      ="Street Address: #{@property.address}"
      %br
      ="Rental Company: #{@property.landlord}"
      %br
      ="Overall Rating: "
