.container
  .page-header
    %h1
      Property Show Page


  .well.col-md-5
    .text-center
      ="Street Address: #{@property.address}"
      %br
      ="Rental Company: #{@property.landlord}"
      %br
      ="Overall Rating: "

  .show-map

  =form_for [@city, @property, @comment] do |f|

    .form-group
      =f.label :dates, "Dates Occupied", class: "control-label"
      =f.date_field :dates, class: "form-control"

    .form-group
      =f.label :comment, class: "control-label"
      =f.text_area :comment, class: "form-control"



  =link_to "Index", root_path
