.home-background.bg
  .container
    .page-header
      %h1.white.shadow
        Welcome To Rental Rater

    .state-map

    .well.right
      -if current_user
        %h5
          =link_to "Sign Out", sign_out_path, class: "btn btn-sign-in"
      -else
        %h5
          = link_to "Sign Up", sign_up_path, class: "btn btn-sign-in"
          %br
          %br
          = link_to "Sign In", sign_in_path, class: "btn btn-sign-in"



    %h3.letterpress
      Select your City

    - @cities.each do |city|

      = link_to "#{city.name}, CO", city_properties_path(city), class: "btn btn-default"


    =link_to "New City", new_city_path, class: "btn btn-info"

    %footer
      %br
        %h5.white
          More Cities To Come
