.rent_image
  .container
    .page-header
      %h1
        Sign In Form

    .well.center_page
      =form_tag sign_in_path do |f|

        .form-group.text-center
          =label_tag :email, nil, class: 'control-label'
          =email_field_tag :email, nil, class: 'form-control'

        .form-group.text-center
          =label_tag :password, nil, class: 'control-label'
          =password_field_tag :password, "Password", class: 'form-control'

        .form-group.col-md-offset-4
          =submit_tag "Sign In"
