/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 .little-box{
   width: 500px;
   height: 500px;
 }

 .btn-info{
   background-color: #4B0082;
 }

 .btn-sign-in{
   color: #000000;
   background-color: #4682B4;
  width: 77px;
  border: 1px solid;
 }

 .home-background{
   background-image: url("https://creativepulse.files.wordpress.com/2013/05/mountains-azalea-sunset.jpg");
   background-size: cover;
 }

 .center {
   margin-left: auto;
   margin-right: auto;
 }

 .right {
     top: 300px;
     right: 100px;
     position: fixed;
     border: 1px solid;
     width: 110px;
     background-color: #b0e0e6;
 }

.black{
  background-color: #000000
}

.white{
  color: #FFFFF0
}

.specific-map {
    height: 400px;
    width: 500px;
}

.show-map {
  height: 400px;
  width: 500px;
}

.state-map {
  height: 469px;
  width: 639px;
}
