/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 .little-box{
   width: 500px;
   height: 500px;
 }

 .btn-info{
   background-color: #4B0082;
 }

 .btn-default2{
   background-color: LawnGreen;
   border: 1px solid;
 }

 .btn-sign-in{
   color: #000000;
   background-color: #4682B4;
  width: 77px;
  border: 1px solid;
 }

.gradient2{
  background: linear-gradient(191deg, #39e805, #0fd2ba, #0f47d2);
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  background-size: 600% 600%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
  }
  // -webkit-linear-gradient(middle bottom, red , yellow ,  blue);
}

.gradient{
  background: -webkit-linear-gradient(top, black, white);
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  top: 0;
  left: 0;

  background-size: cover;
}

 .home-background{
   background-image: url("https://creativepulse.files.wordpress.com/2013/05/mountains-azalea-sunset.jpg");
   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: auto;

   position: fixed;
   top: 0;
   left: 0;
   background-size: cover;
 }

 .rent_image{
   background-image: url("http://cdn2.hubspot.net/hub/178693/file-2536025902-jpg/for_rent.jpg");
   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: auto;

   position: fixed;
   top: 0;
   left: 0;

   background-size: cover;
 }

 .center {
   margin-left: auto;
   margin-right: auto;
 }

 .center_page{
   top: 350px;
   right: 430px;
  //  margin-left: auto;
  //  margin-right: auto;
   position: fixed;
   width: 20%;
   border: 3px solid;
   background-color: BlanchedAlmond
 }

 .center_page2{
   top: 240px;
   right: 280px;
    // margin-left: auto;
    // margin-right: auto;
   position: fixed;
   border: 3px solid;
   background-color: BlanchedAlmond
 }

 .bottom_page{
   top: 500px;
   position: fixed;
 }

 .right {
     top: 300px;
     right: 100px;
     position: fixed;
     border: 1px solid;
     width: 115px;
     background-color: #b0e0e6;
 }

.black{
  background-color: #000000
}

.white{
  font-family: "Fantasy", Oldtown, fantasy;
  color: #FFFFF0
}

.fantasy_font{
  font-family: "Fantasy", Oldtown, fantasy;
  text-shadow: 3px 3px 3px #000,
}

.shadow{
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px blue;
}

.letterpress{
  // text-align: right;
  color: white;
  text-shadow: 0pc 8px 8px red,
               0pc 26px 26px red;
}

.specific-map {
    height: 400px;
    width: 500px;
    top: 3px;
    left: 160px;
}

.show-map {
  height: 400px;
  width: 500px;
}

.state-map {
  height: 469px;
  width: 639px;
}

.glow_text{
    color: #fff;
    text-shadow: -1px 1px 8px #00FFFF, 1px -1px 8px #ADFF2F;
}

.background_blue{
  background-color: #99CCFF;
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  background-size: cover;
}

.flash_padding{
  body { padding-top: 50px; }
}
